.coin_search {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  width: 400px;
}

.coin_input {
  background: #222531;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 50px;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.75px;
}

.coin_input::placeholder {
  color: #e2e2e2;
  letter-spacing: 0.75px;
}
