.coin_search {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  width: 350px;
}

.coin_input {
  background: #514e52;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 50px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.25em;
  letter-spacing: 0.85px;
}

.coin_input::placeholder {
  color: #a3a3a3;
  letter-spacing: 0.75px;
}

/* @media (max-width: 700px) {
  .coin_input {
    width: 100%;
  }
} */
