.coin_container {
  display: flex;
  justify-content: center;
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  /* border-bottom: 1px solid #2e2e2e; */
  width: 1100px;
  padding: 0rem 2rem;
  /* padding: 20px; */
  margin-bottom: 20px;
  border-radius: 8px;

  background: rgba(48, 48, 48, 0.25);
  box-shadow: 0 8px 32px 0 rgba(63, 65, 97, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.coin_row:hover {
  background: #ff33665e;
  transform: scale(1.02);
  border-radius: 8px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h1 {
  font-size: 16px;
  width: 160px;
}

.coin_symbol {
  text-transform: uppercase;
  text-align: left;
  width: 60px;
}

.coin_data {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}

.coin_price {
  width: 110px;
  text-align: left;
}

.coin_volume {
  width: 155px;
}

.coin_marketcap {
  width: 240px;
}

.coin_percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #13c783;
}
