.coin_container {
  display: flex;
  justify-content: center;
  /* font-size: 1.1em; */
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  width: 1100px;
  padding: 0rem 2rem;
  /* padding: 20px; */
  margin-bottom: 22px;
  border-radius: 8px;
  background: #4643477e;
  /* box-shadow: 0 8px 32px 0 rgba(8, 7, 10, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px); */

  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.coin_row:hover {
  background: #dd33ff9a;
  transform: scale(1.02);
  border-radius: 8px;
  font-weight: bold;
  transition: 0.5s;
  color: #e511f8;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h1 {
  font-size: 16px;
  width: 160px;
}

.coin_symbol {
  text-transform: uppercase;
  text-align: left;
  width: 60px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin_data {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;

  padding-right: 62px;
}

.coin_data_two {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}

.coin_price {
  /* width: 110px; */
  text-align: left;
}

.coin_volume {
  /* width: 155px; */
  text-align: left;
  /* letter-spacing: 0.5px; */
}

.coin_marketcap {
  width: 240px;

  /* letter-spacing: 0.5px; */
}

.coin_percent {
  width: 100px;
}

.red {
  color: #f00606;
  letter-spacing: 1px;
}

.coin_row:hover .red {
  color: white;
}

.green {
  color: #13c783;
  letter-spacing: 1px;
}

.coin_row:hover .green {
  color: white;
}

@media (max-width: 1125px) {
  /* .coin_marketcap {
    visibility: hidden;
  } */

  .coin_row {
    width: 920px;
    height: 200px;
    flex-wrap: wrap;
    line-height: 1.75;
  }

  .coin_symbol {
    visibility: hidden;
  }

  .coin_h1,
  .coin_data,
  .coin_data_two {
    font-size: 1.35em;
  }

  /* .coin {
    align-items: right;
  } */

  /* .coin_data {
    display: flex;
    align-items: flex-end;
    text-align: left;
    justify-content: space-between;
    width: 100%;
  } */
}
