.svg {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 90px;
}

.arm {
	transform-origin: 130px 106px;
}

.arm,
.octoBody {
	fill: #000;
}

.ribbonBackground {
	fill: #fff;
}

.svg:hover .arm {
	animation: wave 560ms ease-in-out;
}

@keyframes wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.svg:hover .arm {
		animation: none;
	}

	.svg:hover .arm {
		animation: wave 560ms ease-in-out;
	}
}
