@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
	--body-color: #1f1e1e;
	--coin-title: #dfdfdf;
	--data-color-1: rgb(202, 202, 202);
	--data-color-2: rgb(184, 184, 184);
	--data-color-3: rgb(255, 255, 255);
	--data-color-4: rgb(155, 155, 155);
	--data-hover: rgb(234, 202, 247);
	--placeholder: #a3a3a3;
	--input-color: #514e52;
	--white: #fff;
	--red: #ff6e6e;
	--green: #13c783;
	--github-focus: rgb(193, 0, 193);
	--row-background: #272628;
	--coin-background: rgb(145, 2, 196);
	--gradient-1: linear-gradient(322deg, rgba(145, 2, 196, 1) 0%, rgba(84, 87, 215, 1) 56%, rgb(22, 190, 209) 100%);
	--gradient-2: linear-gradient(
		322deg,
		rgba(145, 2, 196, 1) 0%,
		rgba(84, 87, 215, 1) 56%,
		rgba(60, 234, 255, 1) 100%
	);
	--helvetica: "Helvetica Neue", sans-serif;
	--poppins: "Poppins", sans-serif;
	--default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--default);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--body-color);
}

.coin_app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	color: var(--white);
}

.layout {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}

.header {
	padding: 30px;
	display: flex;
	justify-content: center;
	font-size: 5em;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
	vertical-align: middle;
}

.logo {
	width: 14.5em;
	aspect-ratio: auto;
	/* height: 100%; */
	margin-top: 16px;
}

.header a:focus {
	outline: 4px solid var(--white);
	outline-offset: 6px;
}

:focus {
	outline: none;
}

@media (max-width: 1125px) {
	.logo {
		width: 8.6em;
	}
}

@media (max-width: 700px) {
	.logo {
		width: 4.6em;
	}

	.header {
		padding: 10px;
		margin-top: 0px;
	}
}

@media (max-width: 400px) {
	.logo {
		margin-bottom: 40px;
		width: 310px;
	}

	.header {
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 5px;
	}
}

@media (max-width: 400px) {
	.logo {
		margin-bottom: 40px;
		width: 260px;
	}
}
