html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  background-color: #1f1e1e;
}

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  /* font-size: 1.05em; */
}

/* Layout CSS */
.layout {
  height: 100%;
  width: 100%;
}

.header {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}
.coin_logo {
  height: 200px;
  width: 200px;
}

.logo {
  width: 14em;
}

.overlay {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    325deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.logo:hover {
  color: red;
}

.back-to-top {
  cursor: pointer;
  font-size: 2em;
  color: #9e9d9d;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 15px;
  margin-bottom: 50px;
}

.back-to-top:hover {
  color: #d633ff;
}

.header:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d633ff;
}

@media (max-width: 1100px) {
  .logo {
    width: 12em;
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 10em;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 9em;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 7em;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 6em;
  }
}
