/* .back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 100px;
	background: orange;
	color: white;
	cursor: pointer;
	border-radius: 100px;
	border: none;
	box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
	background: red;
} */
